@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
  --bg: #EBEBEB;
  --black: #333333;
  --prog: #797979;
  --white: #ffffff;
}


*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 5px 0 5px;
  /* overflow: hidden; */
  background-color: #33333398;
  position:relative;
  top: 0;
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 0.5%;
}

.navbar a.tab {
  flex-grow: 1;
  display: block;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.navbar a.tab:hover {
  background-color: #555555ad;
  border-radius: 15px 15px 0 0  ;
}

.indicator {
  height: 3px;
  width: 0;
  background-color: #f00;
  position: absolute;
  bottom: 0;
  transition: width 0.5s, left 0.5s;
}
  
.tabcontent {
  display: none;
  padding: 15px;
  height: 100%;
}

.active {
  background-color: #666;
  border-radius: 15px 15px 0 0  ;
}
  
.fixed-section a, .tabs-section a.tab {
  text-decoration: none;
}


.tabs-section {
  width: 100%;
}

/* Add any additional styling for the fixed section here */
.fixed-section img {
  height: 30px;
  justify-content: center;
  /* margin: 0 10px; */
}






/* Add this new class */
.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100px;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: blur(20px);
  z-index: -1;
  transition: background-image 0.5s ease-in-out; 
}
#body{
  overflow: hidden;
  position: relative;
  background-color: var(--black);
  height: 15em;
  width: 33em;
}
/* Update the .main-align class to be relative so that the absolute positioning of children works correctly */
.main-align{
  display: flex;
}
.paused-disk {
  animation-play-state: paused;
}

.art {
  animation: rolling-disk 7.5s 0.25s linear infinite;
}

.art {
  display: flexbox;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 4px solid #EBEBED;
}

.tabSpace {
  padding: 1rem;
}
.info {
  text-align: left;
  padding-bottom: 9%;
}
.info h1 {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 2%;
}


#timeline {
  position: relative;
  margin: 0 auto;
  padding-top: 5px;
}
#timeline span {
  color: var(--white);
  font-size: 11px;
  position: absolute;
  font-weight:bold;
  top: -16px;
}
#timeline span#currentTime {
  left: 0;
}
#timeline span#totalTime {
  right: 0;
}
#timeline div.slider {
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
  height: 4px;
  padding-left: 6px;
  position: relative;
  width: 100%;
}
#timeline div.slider div.progress {
  background-color: #e74c3c;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 0;
}
#timeline div.slider div.progress div.pin {
  background-color: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  pointer-events: all;
  right: -5px;
  top: -4px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
}
#timeline div.slider div.progress div.pin:active {
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.buttons {
  margin: 0.5rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active img {
  transform: scale(0.9);
}

.button-sm {
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
}

.button-md {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.85;
}
.button-lg {
  width: 3.25rem;
  height: 3.25rem;
}



/*      keyframes   */
@keyframes timer {
  0%      {width: 0%;}
  100%    {width: 100%;}
}

@keyframes rolling-disk {
  0%      {transform: rotate(0);}
  100%    {transform: rotate(1turn);}
}




.search-results {
  display: none; 
  width: 280px;
  position: absolute;
  top: 32px; 
  left: 0;
  right: 0;
  z-index: 10; 
  background-color: var(--prog);
  font-size: 10px;
  min-height: 50px;
  max-height: 300px;
  border-radius: 0 0 10px 10px;
  transition: all 0.8s all;
}





.container {
  .searchIco { 
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    background:  #e74c3c;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 11px;
      right: 0;
      bottom: 0;
      left: 11px;
      width: 6px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    outline: none;
    background: rgba(220, 20, 60, 0.753);
    text-shadow: 0 0 10px crimson;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 280px;
      opacity: 1;
      cursor: text;
      padding-left : 40px;
      padding-top: 1px;      
    }

    &:focus ~ .searchIco {
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
        
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.8;
      font-size: 18px;
      font-weight: bolder;
      ;
    }
    
  }
}





.song-component {
  display: flex;
  align-items: center;
  
  margin-bottom: 10px;
  opacity: 0; /* Change opacity to 1 to start with */
  animation: slideIn 0.5s ease-out forwards;
  transition: opacity 0.5s, transform 0.5s; /* Add transition properties */
  border-radius: 15px ;
  padding: 1% 2% 1% 2%;
  justify-content: space-between;
}

.song-component.remove {
  opacity: 0; /* Change opacity to 0 when removing */
  transform: translateY(-100%); /* Change transform to slide up */
}

@keyframes slideIn {
  to {
    opacity: 1;
  }
}


.song-component:hover {
  background-color: #555555ad;
}

.active-song {     
  background-color: #666;}
  


.song-image {
  width: 50px; /* Adjust size as necessary */
  height: 50px; /* Adjust size as necessary */
  border-radius: 50%; /* Circular image */
  margin-right: 10px;
}

.song-title {
  font-size: 20px;
  color: var(--white);
  justify-content: center;
}

.song-buttons {
  margin-left: auto;
}



#Queue, #Search, #Playlist, .search-results {
  padding: 15px;
  max-height: 300px; /* adjust as necessary */
  overflow-y: auto; /* enables vertical scrolling */
}



